@tailwind base;
@tailwind components;
@tailwind utilities;

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

#input-container {
  background-color: white;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  border-radius: 20px;
  text-align: center;
}

input {
  text-align: center;
}

input::-webkit-calendar-picker-indicator {
  color: rgb(255, 166, 0);
}

input:hover {
  box-shadow: 1px 1px 1px rgb(238, 160, 92);
  transition: 0.2s;
}

input[type=text]:focus {
  outline: none;
  box-shadow: 0.1px 0.1px 1px inset;
}

#sleep-submit {
  font-size: 2rem;
  margin-top: 50px;
  background-color: orange;
  border-color: orange;
  padding: 10px;
  line-height: 40px;
  border-radius: 20px;
  width: 30%;
}

#sleep-submit:hover {
  cursor: pointer;
  background-color: rgb(236, 153, 0);
  border-color: rgb(236, 153, 0);
}

#sleep-submit:focus {
  outline: none;
  transform: scale(0.9);
}